.info-container{
    width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
gap: 20px;
text-align: center;
}
.info-container p:first-child{
    font-weight: 700;
    font-size: 20px;
    min-width: 200px;
    text-align: end;
}
.info-container p{
    font-weight: 400;
    font-size: 18px;
}